<h1 mat-dialog-title>Login</h1>
<div mat-dialog-content>
    <mat-form-field>
        <input matInput placeholder="Username" [(ngModel)]="data.loginDialogData.username">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Password" [(ngModel)]="data.loginDialogData.password">
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <!-- <button mat-button (click)="onCloseClick()">Close</button> -->
    <!-- <button mat-button [mat-dialog-close]="data.loginDialogData" cdkFocusInitial>Sign In</button> -->
    <button mat-button (click)="data.login.emit(data.loginDialogData)" cdkFocusInitial>Sign In</button>
</div>
