<ng-container *ngIf="form.get('fileId').value">
    <div>
        <span id="file-label">
            <input id="fileId" type="text" [formControl]="formControl" class="file_id" readonly />
            <a class="delete-button" title="Delete" (click)="deleteFileClick()"> <mat-icon>cancel</mat-icon></a>
        </span>
        <div class="file-info"><img [src]="getUrl()" class="file" /></div>
    </div>
</ng-container>

<input type="file" #fileUpload name="fileUpload" accept="{{ accept }}" style="display:none;" />

<ng-container *ngIf="!form.get('fileId').value">
    <button mat-raised-button color="accent" (click)="onClick()">
        Upload
    </button>
</ng-container>
