<a [routerLink]="['/']">Back to overview</a>
<div>
    <select (change)="setColumnVisible($event.target.value)">
        <option selected hidden>Columns ({{modelView.properties.length}})</option>
        <option *ngFor="let prop of modelView.properties" [value]="prop.name">
            <span *ngIf="!prop.hidden">✓ </span>{{prop.name}}</option>
    </select>
</div>

<h1>{{ modelView.name }}</h1>
<table border="1">
    <thead>
        <th *ngFor="let prop of modelView.properties" [hidden]="prop.hidden">
            {{prop.name}}
        </th>
    </thead>
    <tbody>
        <tr *ngFor="let entry of modelData">
            <td *ngFor="let prop of modelView.properties" [hidden]="prop.hidden">
                <a *ngIf="prop.name === '_id'; else row" [routerLink]="[entry[prop.name]]">{{entry[prop.name]}}</a>
                <ng-template #row>
                    {{entry[prop.name]}}
                </ng-template>
            </td>
        </tr>
    </tbody>

</table>
