:host {
    display: inherit;
    flex-direction: inherit;
    box-sizing: border-box;
    width: 100%;
    max-width: 1520px;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: 1920px) {
        max-width: 1920px;
        padding-right: 400px;
    }
}
