<ng-container *ifSome="model$ | async; else noneTemplate; let model">
  <ng-container *ngFor="let item of model.models">
    <mat-card class="model_card__item">
        <mat-card-title><a href="">{{item.name}}</a></mat-card-title>
        <mat-card-subtitle>
          67 Items
        </mat-card-subtitle>
        <mat-card-actions>
          <a mat-button href="" target="_blank">
              <mat-icon>add_circle</mat-icon>
          </a>
        </mat-card-actions>
      </mat-card>
  </ng-container>
</ng-container>
<ng-template #noneTemplate>
  <div class="spinner_container">
    <mat-spinner class="spinner" *ngIf="loading$ | async"></mat-spinner>
  </div>
</ng-template>

