.model-card__item {
    width: 300px;
    display: inline-block;
    margin: 20px;

    .model-card__item_title {
        text-transform: capitalize;
    }
}

.spinner-container {
    display: flex;
    height: 100%;

    .spinner {
        margin: auto;
    }
}
