<ng-container *ngIf="(pageModel$ | async); let pageModel">
    <ng-container *ngIf="pageModel.loaded; else noneTemplate; let model">
        <ng-container *ifSome="pageModel.model; let model">
            <ng-container *ngFor="let item of model">
                <mat-card class="model-card__item">
                    <mat-card-title class="model-card__item_title">
                        <a href="" [routerLink]="['/model', item.name]">{{ item.name }}</a>
                    </mat-card-title>
                    <mat-card-subtitle> {{ item.count }} Item(s) </mat-card-subtitle>
                    <mat-card-actions>
                        <a mat-button href="" [routerLink]="['/model/add', item.name]">
                            <mat-icon>add_circle</mat-icon>
                        </a>
                    </mat-card-actions>
                </mat-card>
            </ng-container>
        </ng-container>
    </ng-container>
    <ng-template #noneTemplate>
        <div class="spinner-container">
            <mat-spinner class="spinner" *ngIf="pageModel.loading"></mat-spinner>
        </div>
    </ng-template>
</ng-container>
