@import '~@angular/material/theming';

@include mat-core();

@import 'themes/default-theme.scss';

@import 'app/core/header/header.component.scss-theme';

@mixin custom-components-theme($theme) {
    @include app-header-component-theme($theme);
}

@include angular-material-theme($app-theme);
@include custom-components-theme($app-theme);

body {
    margin: 0;
}

.content {
    height: calc(100vh - 105px);
    margin: 20px;
}

.mat-card-subtitle {
    color: inherit;
}
