<ng-container *ngIf="(model$ | async); let model">
    <ng-container *ngIf="!model.loading">
        <ng-container *ngIf="model.errors">
            {{ model.errors[0]?.message }}
        </ng-container>
    </ng-container>

    <ng-container *ifSome="model.data; else noneTemplate; let data">
        <ng-container *ifSome="(availableColumns$ | async); else noneTemplate; let availableColumns">
            <ng-container *ifSome="(visibleColumns$ | async); else noneTemplate; let visibleColumns">
                <app-modellist
                    [availableColumns]="availableColumns"
                    [visibleColumns]="visibleColumns"
                    [dataSource]="data"
                    [filters]="filters$ | async"
                    [filterMetadata]="filterMetadata$"
                    (selectedColumnsChanged)="selectedColumnsChanged$.emit($event)"
                    (addFilter)="addFilter$.emit($event)"
                    (removeFilter)="removeFilter$.emit($event)"
                ></app-modellist>
            </ng-container>
            <!--</ng-container>-->
        </ng-container>
    </ng-container>

    <ng-template #noneTemplate>
        <div class="spinner-container">
            <mat-spinner class="spinner" *ngIf="model.loading"></mat-spinner>
        </div>
    </ng-template>
</ng-container>
