<mat-card class="login-card">
    <mat-card-title class="login-card__title">
        Login
    </mat-card-title>
    <mat-card-content>
        <form novalidate [formGroup]="form" (ngSubmit)="submit$.emit(model)">
            <formly-form [form]="form" [fields]="fields" [model]="model">
                <button mat-raised-button [disabled]="form.invalid" color="primary" type="submit">Sign in
                </button>
            </formly-form>
        </form>
    </mat-card-content>
    <div *ifSome="error$ | async; let error">
        {{error}}
    </div>
</mat-card>
