<div class="model-container">

    <mat-form-field>
        <mat-select placeholder="Visible columns" [formControl]="selectedColumnsForm" multiple>
            <mat-option *ngFor="let col of availableColumns" [value]="col">{{col}}</mat-option>
        </mat-select>
    </mat-form-field>

    <ng-container *ngIf="selectedColumns$ | async; let selectedColumns">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 model-table">
            <ng-container *ngFor="let col of selectedColumns; let i = index" matColumnDef="{{col}}">
                <th mat-header-cell *matHeaderCellDef>{{col}}</th>
                <ng-container *ngIf="col !== '_id'; else id">
                    <!--TODO: decide by ref col !!!!-->
                    <td mat-cell *matCellDef="let element">{{element[col]}}</td>
                </ng-container>
                <ng-template #id>
                    <td mat-cell *matCellDef="let element">
                        <a [routerLink]="[element[col]]">{{element[col]}}</a>
                    </td>
                </ng-template>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="selectedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: selectedColumns;"></tr>
        </table>
    </ng-container>

</div>
