.filter-panel {
    width: 100%;
    margin: 20px 0;
    min-width: 0;
}

.filter-form {
    display: flex;
    border: 1px solid #8b8b8b;
    padding: 20px;
    margin: 0 20px 20px 20px;
}

.filter-field-30 {
    width: 30%;
    margin: 0 20px;
    min-width: 75px;
}
.filter-field-10 {
    width: 10%;
    margin: 0 20px;
    min-width: 75px;
}

.button {
    margin: 0 20px;
    height: 40px;
}
