.model-container {
    margin: 40px 20px;
}

.model-table {
    width: 100%;

    td,
    th {
        padding-right: 24px;
    }
    .model-table-value {
        max-height: 100px;
        overflow-y: auto;
    }
}

.menu-list {
    display: flex;
}

.filter-panel {
    width: 100%;
    margin: 20px 0;
    min-width: 0;
}
