<form [formGroup]="form$ | async">
    <div *ngFor="let property of modelView.properties">
        <div class="form-group">
            <label for="{{property.name}}">{{property.name}}</label>
            <div [ngSwitch]="property.type">
                <input *ngSwitchCase="'String'" type="text" class="form-control" id="{{property.name}}" formControlName="{{property.name}}">
                <input *ngSwitchCase="'ObjectID'" type="text" class="form-control" id="{{property.name}}" formControlName="{{property.name}}"
                    readonly>
                <textarea *ngSwitchCase="'html'" rows="10" class="form-control" id="{{property.name}}" formControlName="{{property.name}}"></textarea>
            </div>
        </div>
    </div>
</form>
