<ng-container *ngIf="model$ | async; let model">

    <ng-container *ngIf="model.errors">
        ERROR {{model.errors[0].message}}
    </ng-container>

    <ng-container *ifNone="model.data">
        No data found
    </ng-container>

    <ng-container *ifSome="model.data; else noneTemplate; let data">
        <ng-container *ifSome="fields$ | async; else noneTemplate; let fields">
            <app-modeldetail [fields]="fields" [model]="data"></app-modeldetail>
        </ng-container>
    </ng-container>

    <ng-template #noneTemplate>
        <div class="spinner-container">
            <mat-spinner class="spinner" *ngIf="model.loading"></mat-spinner>
        </div>
    </ng-template>

</ng-container>
